<header class="main-header">
  <h1 class="main-name">About</h1>
  <p class="main-description">The Rocket Blog... What exactly is this all about?</p>
</header>

<section class="about-text justified">
	<p>Well, this blog originally started off as part of one of my Achievement exercises for my <span class="bold">CareerFoundry Web Development</span> course.</p>

	<p>However, as the project took shape, I decided that I could turn this blog into a <span class="bold">space</span> in which people can post about anything that could be of use to anyone.</p>

	<p>The idea is to provide a simple means for users to share their <span class="bold">thoughts</span> and <span class="bold">knowledge</span> with everyone.</p>

	<p>So, if you are looking for a <span class="bold">random article</span> to read, or searching for a <span class="bold">specific subject</span>, or have anything that you would like to <span class="bold">share</span> with the world, then feel free to explore <span class="bold">The Rocket Blog</span>.</p>
</section>
