<header class="main-header">
  <h1 class="main-name">Contact</h1>
  <p class="main-description">Here is how you can get a hold of the people at The Rocket Blog!</p>
</header>

<div class="row">
  <div class="col-xs-12 col-lg-4 col-md-4">
    <section class="contact-text justified top-margin">
    	<h2 class="contact-title bold">Our coordinates</h2>
      <p class="red">
        <span class="glyphicon glyphicon-home"></span>
        <span>1.514.555.2045</span>
        <br>
        <span class="glyphicon glyphicon-phone"></span>
        <span>1.514.555.3477</span>
        <br>
        <span class="glyphicon glyphicon-briefcase"></span>
        <span>1.514.555.1063 x.007</span>
        <br>
        <span class="glyphicon glyphicon-envelope"></span>
        <span><a>info@rocketman.com</a></span>
        <p>
          336 Saint-Denis Street
          <br>Montreal, Quebec
          <br>Canada
          <br>H9R 3J4
        </p>            
      </p>
    </section> <!-- end coordinates column -->
  </div> <!-- end column wrapper -->

  <div class="col-xs-12 col-lg-8 col-md-8">
  	<section class="form-text top-margin">
	    <h2 class="contact-title bold">Send us a message</h2>
	    <form class="form-custom-margin">
	      <div class="form-group">
	        <label class="contact-custom-label" for="name" id="name-label">Name</label>
	        <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name">             
	      </div> <!-- end form-group -->
	      <div class="form-group">
	        <label class="contact-custom-label" for="email" id="email-label">Email address *</label>
	        <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email here" required="required">
	      </div> <!-- end form-group -->
	      <div class="form-group">
	        <label class="contact-custom-label" for="message" id="message-label">Message *</label>
	        <textarea class="form-control message-box" id="message" name="message" style="resize: none" rows="5" placeholder="Write your message here..." required="required"></textarea>
	        <p class="bold" id="visible-comment_1"></p>
	        <p id="visible-comment_2"></p>
	      </div>
        <div class="btn-centered">
          <button type="submit" class="btn btn-info btn-lg" id="button">Submit</button>
        </div>
	    </form>
    </section>
  </div> <!-- end column -->
</div> <!-- end row -->