<header class="main-header">
  <h1 class="main-name">Edit Article</h1>
</header> <!-- end main-header -->

<section class="generic-container form-text">
	<%= render 'form', article: @article %>
</section>

<div class="bottom-options">
  <%= link_to 'Back to Article', @article %>
</div>
