<header class="main-header">
  <h1 class="main-name">Edit Article</h1>
</header> <!-- end main-header -->

<section class="form-custom-margin form-text">
	<%= render 'form', article: @article %>

	<div class="edit-footer">
		<div class="btn-group" role="group">
	  	<%= link_to 'Show', @article %> | 
	  	<%= link_to 'Back', root_path %>
	  </div>
	</div>
</section>