<header class="site-header">
  <h1 class="site-name">New Article</h1>
</header> <!-- end site-header -->

<section class="form-custom-margin form-text">
	<%= render 'form', article: @article %>

	<div class="new-footer">
	  <%= link_to 'Back', root_path, class: "btn btn-success article-button" %>
	</div>
</section>
