<header class="main-header">
  <h1 class="main-name">New Article</h1>
</header> <!-- end page-header -->

<section class="generic-container form-text">
	<%= render 'form', article: @article %>
</section>

<div class="bottom-options">
  <%= link_to 'Back to Home', root_path %>
</div>
