<header class="main-header">
  <h1 class="main-name">New Article</h1>
</header> <!-- end page-header -->

<section class="form-custom-margin form-text">
	<%= render 'form', article: @article %>

	<div class="new-footer">
	  <%= link_to 'Back', root_path %>
	</div>
</section>
