<div class="mini-container">
	<header class="main-header">
	  <h1 class="main-name">Edit User</h1>
	</header> <!-- end main-header -->

	<section class="generic-container">
		<%= render 'form', user: @user %>
	</section>

	<div class="bottom-options">
	  <%= link_to 'Back to Profile', @user %>
	  <% if user_signed_in? && current_user.admin %>
	   | <%= link_to 'Back to Users\' List', users_path %>
	  <% end %>
	</div>
</div>
