<div class="mini-container">
	<header class="main-header">
	  <h1 class="main-name">New User</h1>
	</header> <!-- end main-header -->

	<br>

	<%= render 'form', user: @user %>

	<hr>

	<div class="center-content">
	  <%= link_to 'Back', users_path %>
	</div>
</div>

<br>