<footer class="footer">
	<div class="container">
    <span>Blog template built with <a href="http://getbootstrap.com">Bootstrap</a></span>
    <ul><li>&copy; RocketMan . 2017</li></ul>
  </div> <!-- end container -->
</footer>
